header.header
  .header__content.container
    .header__logo
      img(src=require("../../img/logo/logo.png"), alt="logo").header__logo-pic
    .header__title
      h2.slogan 
        p.slogan__text Questions  
        p.slogan__text will be answered