section.section.promotion
  .promotion__content.container
    h2.promotion__title акции
    ul.promotion__list
      li.promotion__item
        a.promotion__link(href="#")
          .promotion__item-pic.promotion__item-pic_moto
      li.promotion__item
        a.promotion__link(href="#")
          .promotion__item-pic.promotion__item-pic_killer
      li.promotion__item
        a.promotion__link(href="#")
          .promotion__item-pic.promotion__item-pic_boat
      li.promotion__item
        a.promotion__link(href="#")
          .promotion__item-pic.promotion__item-pic_killer
      li.promotion__item
        a.promotion__link(href="#")
          .promotion__item-pic.promotion__item-pic_moto
      li.promotion__item
        a.promotion__link(href="#")
          .promotion__item-pic